body {
	background-color: rgb(164, 164, 164);
}
.sombra {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textareaclasse {
	background-color: rgb(75, 75, 75); 
	color: rgb(223, 223, 223); 
}

.textareaclasse:focus {
	background-color: rgb(98, 98, 98); 
	color: rgb(243, 243, 243); 
}